[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ntsDatasets"]
	path = ntsDatasets
	url = https://github.com/a-roshani/ntsdatasets
